.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.github/**
.sfdx/**
.sfhealthrc.json
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
cta-prompt.md
media/iconOld.png
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
CLAUDE.md
**/*.vsix
**/*.docx
scripts/**
.docbuild-venv/**
